.background{
    align-items: flex-start;
    background-color: #FFC7D6 ;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 982px;
    padding: 0 70px;
    width: 1512px;
}

h1{
    font-family: 'Biryani';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 154px;
    right: 100px;
    justify-content: center;
    align-items: center;
    padding-left: 520px;

}
.picLeft{
    /*position: absolute;
    max-width: 25%;
    max-height: 25%;
    padding-left: 20px;
    padding-top: 50px;
    */
    position: absolute;
width: 243px;
height: 207px;
left: 79px;
top: 40px;
}

.picRight{
    position: absolute;
width: 238px;
height: 212px;
left: 1199px;
top: 40px;
}

.rec{
    background-color: white;
    border-radius: 31px;
    justify-content: center;
    display: flex;
    position: absolute;
    width: 1371px;
    height: 710px;
    left: 70px;
    top: 272px;

}

.container-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
}

.Quiz + p{
    color:aquamarine;
}

/* ------------------------------------------
Quiz form
------------------------------------------ */

.rec {
    text-align: center;
}

.rec label {
    text-align: left;
    display: block;
    font-size: 20px;
    margin-top: 10px;
}

.rec select {
    margin-top: 20px;
    margin-bottom: 10px;
}